<%- include('./templates/header.ejs') %>
    
</head>
<body>
    <h1>Add User</h1>
    <form action="/addUser" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name">
    </form>