<%- include ('./templates/header.ejs') %>
    <link rel="stylesheet" href="./styles/error.css">
    
    <title>Error Page</title>
</head>
<body>
  <div class="error-container">
    <h1>Oops! Something went wrong.</h1>
    <p>We apologize for the inconvenience. The page you requested cannot be found.</p>
    <a href="/home">Go back to homepage</a>
  </div>
</body>
</html>